<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Medidor de obesidad </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <style>
        body {
            margin: 0 auto;
            height: 100vh;
            padding: 30px;
            background-image: url("fondo2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment:fixed;
        }
        .box{
            margin:0 auto; 
            width:700px;
            padding:50px;
            background:#f9f9f9;
            border:2px solid #333;
        }

    </style>
</head>


<div class="box">

        <h1>{{ prediction_text }}</h1>
        <h3> A continuación se presentan recomendaciones generales. Para mayor información se sugiere buscar atención médica profesional.</h3>
        <ol>
            <li> {{recomendacion1}} </li>
            <li> {{recomendacion2}} </li>
            <li> {{recomendacion3}} </li>
        </ol>

</div>
</html>